<footer class="footer" id="ftr">
    <div class="container-fluid " style="padding: 0px 5% 0px 5% ;margin-bottom: 2%; ">
        <div class="row ">
            <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-3 col-xl-3 ">
                <div class="widget1 ">
                    <div class="logo ">
                        <div class="row ">
                            <div style="background-color: #002c42; ">
                                <a href="https://licensing.gaming-curacao.com/validator/?lh=686550c5369e6774e220eea348e077e6&amp;rlh=18f050777afb816b90b74ec22089f353" target="_blank ">
                                    <img src="../../../assets/gc-logo.png" width="120 " height="45 " alt="GAMING CURACAO LICENSEE CLICK FOR MORE INFORMATION " class="centri ">
                                    <img src="../../../assets/verified.png" width="25 " alt="VERIFIED URL " class="centriVer "></a>

                            </div>
                        </div>

                    </div>
                    <p>
                        <span class="siz "> Gambling might be addictive.</span>
                        <span class="siz ">  <br>
                      Play with caution! africano365.tn is operated by Zazasiv Group Technology Ltd a UK company registered under the address 71-75 Shelton Street, 
                    </span ><br>
                    <span  class="siz " >  Covent Garden, London, England, WC2H 9JQ licensed and regulated by the law of Curacao under the Master License of Gaming Services Provider, N.V. #365/JAZ</span>

                    </p>

                </div>
            </div>

            <div class=" col-6 col-md-6 col-sm-6 col-xs-6 col-lg-3 col-xl-3 ">
                <div class="widget3 ">
                    <h5>
                        Liens Rapides
                    </h5>
                    <ul>
                        <li>
                            <a routerLink="/sport">Sport</a>
                        </li>
                        <li>
                            <a routerLink="/sport">Live</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-6 col-sm-6 col-xs-6 col-lg-3 col-xl-3 ">
                <div class="widget4 ">
                    <h5>
                        A propos
                    </h5>
                    <ul>
                        <li>
                            <a routerLink="/personal-account">Termes et conditions</a>
                        </li>
                        <li>
                            <a routerLink="/Responsible-Gaming">Responsible Gaming</a>
                        </li>
                        <li>
                            <a routerLink="/Pravicy-Policy">Privacy Policy</a>
                        </li>
                        <li>
                            <a routerLink="/AML-KYC-Policy">AML KYC Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-xs-6 col-xl-3 col-lg-3 ">
                <div class="row">
                    <div class="widget2 " style="align-items: center;width:100%">
                        
                        <div class="socialLinks " style="    margin: auto;
                        position: absolute;
                        left: 50%;
                       margin-top: 10%;
                        transform: translate(-50%, -50%); ">
                            <ul style="display: flex;align-items: center;width:100%;margin:0 auto">
                                <li>
                                    <a href="https://www.facebook.com/Africano365/">
                                        <i class="fab fa-facebook-f "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="fb " title="Join us on Facebook "><i class="fab fa-youtube " aria-hidden="true "></i></a>
                                </li>
                                <li>
                                    <a href="#" class="fb " title="Join us on Facebook "><i class="fab fa-instagram " aria-hidden="true "></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img  style="margin-top: 20%;" src="../../../assets/LOGOS.png" />
                 
                </div>
              
            </div>
        </div>
    </div>
    <div class="copyRightArea ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 text-center ">
                    <p>&copy;  tous droits réservés {{ year | date : "YYYY " }}.</p>
                </div>
            </div>
        </div>
    </div>
</footer>