.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge add Firefox */

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

@media (min-width: 992px) {
    .web {
        display: block;
    }
    .mobi {
        display: none !important;
    }
    .ht{
        height: 400vh;
    }
}

@media (max-width: 991px) {
    .web {
        display: none;
    }
    .mobi {
        display: block !important;
    }
    .ht{
        height: 100%;
    }
}