
<div class="bg" style="height: 100vh;width: 100%;">
    <div class=" row cn1  "  >
        <img src="../../../assets/africano/africano.png" (click)="gotoHome()" style="width: 40%;margin: 0 auto;">
       
     </div>

     <div class="row"  style="width: 100%;" >
        <div class="col-md-12" >
            <div class="row" style="width: 100%;color: #b6040d;margin-top: 2%;">
                <p  class ="cn2" > <span style="color: #00a2ff;">Maintenance </span>  en cours...</p>
              </div>
              <div class="row" style="width: 100%;">
                <p class="cn3" > Site est momentanement inaccessible</p>
              </div> 
              <div class="row" style="width: 100%;">
                <p class="cn4" > Nous faisons notre  possible pour que ce delais soit le plus court possible</p>
              </div> 
              <div class="row" style="width: 100%;">
                <p  class="cn5" >Merci de revenir plus tard</p>
              </div> 
        </div>
     </div>
     <div class="row"  style="width: 100%;">
        <img src="../../../assets/mn.png" style="width: 20%;margin: 0 auto;padding-left: 7%;">
     </div>
       
</div>

    
