
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.content-main.touch-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.content-main {
    border-radius: .25rem;
    background-color: #dadada;
    padding: 30px;
    height: 100%;
    
}


@media (max-width: 767px)  {
  .web{display: none;}
.mobi{display: block;}

.ami{
  font-weight: 800;
  font-size: 13px;
}
.ng-scope{
  font-size: 9px;
}
}
@media (min-width: 768px)  {
  .web{display: block;}
.mobi{display: none;}
.ng-scope{
  font-size: 12px;
  font-weight: 300;
}
.ami{
  font-weight: 800;
  font-size: 18px;
  padding-top: 20px;
}
}