<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container-fluid " style="    font-family: 'Open Sans', sans-serif;">  
<!-- header-->

 
  


   
<div class="row no-gutters web" style="    padding-right: 80px;padding-left: 60px;padding-top: 20px;padding-bottom: 20px;">
    <div class="col-xl-3 col-lg-3 col-3 col-xs-3 col-sm-3" >
        <app-leftbardepotusers></app-leftbardepotusers>
    </div>

<div class="col-xl-9 col-lg-9 col-9 col-xs-9 col-sm-9">
    <div class="content-main touch-left">
        <div class="row" style="border-radius: 50px;border:1px solid #9c9c9c;height:40px;padding-top: 1%;width:90%;margin-left: 6%;">
            <h4 class="page-title" style="    font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 auto; color: #002c42;"> Changer  mot de passe</h4>
          </div>

        <form [formGroup]="ChangeMdbForm" (ngSubmit)="changerMdb()" class="form form-change-password" style="color: #002c42;">
            <div class="row"><!----> <!----> 
                <div class="col-lg-6 col-12">
                    <div class="form-group">
                        <label for="user-old-password" class="form-control-label" >  Ancien mot de passe	</label> 
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 30px ; height: 30px;">
                                <i class="fa fa-lock" style="font-size: 17px;"></i>
                            </span>
                            <input type="password"  required="required" formControlName="ancienmdb" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ancienmdb.errors }" style=" height: 30px;">
                            <div *ngIf="submitted && f.ancienmdb.errors" class="invalid-feedback">
                                <div *ngIf="f.ancienmdb.errors.required"> Ancien mot de passe</div>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="user-new-password" class="form-control-label">Nouveau  mot de passe			</label> 
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 30px ; height: 30px;">
                                <i class="fa fa-lock" style="font-size: 17px;"></i></span>
                            <input type="password" id="user-new-password" formControlName="nouveaumdb" required="required"  [ngClass]="{ 'is-invalid': submitted && f.nouveaumdb.errors }" class="form-control"  style=" height: 30px;">
                            <div *ngIf="submitted && f.nouveaumdb.errors" class="invalid-feedback">
                                <div *ngIf="f.nouveaumdb.errors.required"> Nouveau  mot de passe	</div>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="user-confirm-password" class="form-control-label">Répéter Password		</label> 
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 30px ; height: 30px;"><i class="fa fa-lock"></i></span> 
                            <input type="password" id="user-confirm-password" formControlName="repeter" required="required" [ngClass]="{ 'is-invalid': submitted && f.repeter.errors }" class="form-control"  style=" height: 30px;">
                            <div *ngIf="submitted && f.repeter.errors"  class="invalid-feedback">
                                <div *ngIf="f.repeter.errors.required"> Répéter Password	</div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-12"><hr> 
                    <button type="submit" title="Change Password" class="btn rounded-pill btn-lg  mt-3" style="background: linear-gradient(#0075bf, #00527a);color: #dadada;">Changer Mot de passe	</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
</div>
   

</div>

<div class="row mobi" style=" margin-bottom: 2%; ">
    <app-leftbardepotusers></app-leftbardepotusers>
</div>
 <div class="mobi row" style="margin-bottom: 2%;color: white; font-family: 'Open Sans', sans-serif;" >
    <div class="col-xl-12 col-lg-12 col-12 col-xs-12 col-sm-12">
        <div class="content-main touch-left">
            <div class="row" style="border-radius: 50px;border:1px solid #9c9c9c;height:40px;padding-top: 3%;width:90%;margin-left: 6%;">
                <h4 class="page-title" style="font-size:13px;font-weight:bold; text-transform: uppercase;margin: 0 auto;color: #002c42;">Changer  mot de passe</h4>
              </div>
           
            <form [formGroup]="ChangeMdbForm" (ngSubmit)="changerMdb()" class="form form-change-password">
                <div class="row"><!----> <!----> 
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label for="user-old-password" class="form-control-label" style="color: #002c42;" >  Ancien mot de passe	</label> 
                            <div class="input-group" >
                                <span class="input-group-addon" style="width: 30px ; height: 30px;">
                                    <i class="fa fa-lock" style="font-size: 17px;"></i>
                                </span>
                                <input type="password" id="user-old-password" required="required" formControlName="ancienmdb" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ancienmdb.errors }" style=" height: 30px;">
                                <div *ngIf="submitted && f.ancienmdb.errors" class="invalid-feedback">
                                    <div *ngIf="f.ancienmdb.errors.required" style="color: #002c42;"> Ancien mot de passe</div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="user-new-password" class="form-control-label" style="color: #002c42;">Nouveau  mot de passe			</label> 
                            <div class="input-group">
                                <span class="input-group-addon" style="width: 30px ; height: 30px;">
                                    <i class="fa fa-lock" style="font-size: 17px;"></i></span>
                                <input type="password" id="user-new-password" formControlName="nouveaumdb" required="required"  [ngClass]="{ 'is-invalid': submitted && f.nouveaumdb.errors }" class="form-control"  style=" height: 30px;">
                                <div *ngIf="submitted && f.nouveaumdb.errors" class="invalid-feedback">
                                    <div *ngIf="f.nouveaumdb.errors.required" style="color: #002c42;"> Nouveau  mot de passe	</div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="user-confirm-password" class="form-control-label" style="color: #002c42;">Répéter Password		</label> 
                            <div class="input-group">
                                <span class="input-group-addon" style="width: 30px ; height: 30px;"><i class="fa fa-lock"></i></span> 
                                <input type="password" id="user-confirm-password" formControlName="repeter" required="required" [ngClass]="{ 'is-invalid': submitted && f.repeter.errors }" class="form-control"  style=" height: 30px;">
                                <div *ngIf="submitted && f.repeter.errors"  class="invalid-feedback">
                                    <div *ngIf="f.repeter.errors.required"> Répéter Password	</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12"><hr> 
                        <button type="submit" title="Change Password" class="btn rounded-pill btn-lg  mt-3" style="background: linear-gradient(#0075bf, #00527a);color: #dadada;">Changer Mot de passe	</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>








