
<div class="container-fluid " style="  font-family: 'Open Sans', sans-serif;">  

<!--  web-->
<div class="row no-gutters web" style="    padding-right: 80px;padding-left: 60px;padding-top: 20px;margin-bottom: 100px;">
    <div class="col-xl-3 col-lg-3 col-3 col-xs-3 col-sm-3" >
        <app-leftbardepotusers></app-leftbardepotusers>
    </div>
    <div class="col-xl-9 col-lg-9 col-9 col-xs-9 col-sm-9" >
        <div class="content-main touch-left" >
            <div class="row" style="border-radius: 50px;border:1px solid #9c9c9c;height:40px;padding-top: 1%;width:90%;margin-left: 6%;">
                <h4 class="page-title" style="    font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0 auto; color: #002c42;"> Transactions</h4>
              </div>

        
            <div *ngIf="BOL" style="padding-top: 3%;">
               
                <table class="container" id="table" *ngIf="lengthdata > 0">
                    <thead >
                        <tr>
                    <th> Transaction </th>
                    <th> Crée le </th>
                    <th> Statuts de transactions </th>
                    <th> Type de Transaction </th>
                    <th> Description </th>
                    <th> Solde avant </th>
                    <th> Montant </th>
                    <th> Solde actuel </th>
                </tr>
                </thead>
                <tbody *ngFor="let tk of transactions;index as i" >
                    <td>{{tk.TransactionID}}</td>
                    <td>{{tk.Date |  date:'MM/dd/yyyy h:mm a' }}</td>
                    <td>OK</td>
                    <td [ngSwitch]="tk.TransactionType">
                        <p *ngSwitchCase="'30'">
                           Casino 
                        </p>
                        <p *ngSwitchCase="'31'">
                            Casino 
                         </p>
                         <p *ngSwitchCase="'3'">
                            Sport 
                         </p>
                         <p *ngSwitchCase="'4'">
                            Sport
                         </p>
                         <p *ngSwitchCase="'9'">
                           Sport
                         </p>
                         <p *ngSwitchCase="'12'">
                            Sport
                         </p>
                         <p *ngSwitchCase="'34'">
                            Casino
                         </p>
                       
                    </td>

                    <td [ngSwitch]="tk.TransactionType">
                        <p *ngSwitchCase="'30'">
                           Mise 
                        </p>
                        <p *ngSwitchCase="'31'">
                            Gain 
                         </p>
                         <p *ngSwitchCase="'3'">
                            Mise 
                         </p>
                         <p *ngSwitchCase="'4'">
                             Gain
                         </p>
                         <p *ngSwitchCase="'5'">
                            Remboursement
                        </p>
                         <p *ngSwitchCase="'9'">
                           Mise
                         </p>
                         <p *ngSwitchCase="'12'">
                            Sport
                         </p>
                         <p *ngSwitchCase="'34'">
                            Remboursement 
                         </p>
                      
                    </td>
                    <!-- <td *ngif="tk.TicketCode!==null">Paris sportif: {{tk.TicketCode}}</td> -->
                    <td>{{tk.OldBalance}}</td>
                    <td>{{tk.Amount }}</td>
                    <td>{{tk.NewBalance}}</td>



                </tbody>


                </table>
                <div class="row" style="width: 100%;text-align: center;" *ngIf="lengthdata == 0">
                    <div class="col-md-12"> <span style="text-align: center;font-weight: bold;font-size: 20px;">  Liste Vide </span></div>
     
                </div>
                <div class="row" style="width: 100%;text-align: center;">
                    <div class="col-md-12"> <span style="text-align: center;font-weight: bold;">  Page : {{zindex}}</span></div>
                 </div>
             
                 <div class="row" style="width: 100%;text-align: center;">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example" style="color: black;">
                            <ul class="pagination" >
                            <li class="page-item">
                             <button style="background-color: transparent;border: none;">
                                <a class="page-link" (click)="backTo()" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </button>
                             
                            </li>
                            <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(1)">1</a></button></li>
                            <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(2)">2</a></button></li>
                            <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(3)">3</a></button></li>
                            <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(4)">4</a></button></li>
                            <li class="page-item">
                                <button style="background-color: transparent;border: none;">
                                    <a class="page-link" (click)="nextTo()" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                </button>
                               
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!BOL">
                <div  class="col-xl-12 col-lg-12 col-12 col-xs-12 col-sm-12 " >
               
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border spinner-border-sm mr-8" style="width: 3rem; height: 3rem;color: #00a2ff;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
</div>



<div class="row mobi" style=" margin-bottom: 2%;">
    <app-leftbardepotusers></app-leftbardepotusers>
</div>
  
<div class="row mobi" style="margin-bottom: 2%;">
    <div class="col-xl-12 col-lg-12 col-12 col-xs-12 col-sm-12 " >
        <div class="content-main touch-left">
            <div class="row" style="border-radius: 50px;border:1px solid #9c9c9c;height:40px;padding-top: 3%;width:90%;margin-left: 6%;">
                <h4 class="page-title" style="font-size:13px;font-weight:bold; text-transform: uppercase;margin: 0 auto;color:#002c42"> Historique de Transactions</h4>
              </div>
            <div *ngIf="BOL">


                <div class="row"  >
                    <table *ngIf="lengthdata > 0"  class="col-xl-12 col-lg-12 col-12 col-xs-12 col-sm-12" >
                            <thead >
                                <tr>
                            <th> Transaction </th>
                            <th> Crée le </th>
                            <th> Statuts de transactions </th>
                            <th> Type de Transaction </th>
                            <th> Description </th>
                            <th> Solde avant </th>
                            <th> Montant </th>
                            <th> Solde actuel </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let tk of transactions;index as i;"  >
                            <tr >
                            <td>{{tk.TransactionID}}</td>
                            <td>{{tk.Date |  date:'MM/dd/yyyy h:mm a' }}</td>
                            <td>OK</td>
                            <td [ngSwitch]="tk.TransactionType">
                                <p *ngSwitchCase="'30'">
                                   Casino 
                                </p>
                                <p *ngSwitchCase="'31'">
                                    Casino 
                                 </p>
                                 <p *ngSwitchCase="'3'">
                                    Sport 
                                 </p>
                                 <p *ngSwitchCase="'4'">
                                     Gain
                                 </p>
                                 <p *ngSwitchCase="'9'">
                                   Sport
                                 </p>
                                 <p *ngSwitchCase="'12'">
                                    Sport
                                 </p>
                                 <p *ngSwitchCase="'34'">
                                    Casino
                                 </p>
                                 
                            </td>

                            <td [ngSwitch]="tk.TransactionType">
                                <p *ngSwitchCase="'30'">
                                   Mise 
                                </p>
                                <p *ngSwitchCase="'31'">
                                    Gain 
                                 </p>
                                 <p *ngSwitchCase="'3'">
                                    Mise 
                                 </p>
                                 <p *ngSwitchCase="'4'">
                                     Gain
                                 </p>
                                 <p *ngSwitchCase="'5'">
                                    Remboursement
                                </p>
                                 <p *ngSwitchCase="'9'">
                                    Mise
                                 </p>
                                 <p *ngSwitchCase="'12'">
                                    Sport
                                 </p>
                                 <p *ngSwitchCase="'34'">
                                    Remboursement 
                                 </p>
                                 
                            </td>
                    
                            <td>{{tk.OldBalance}}</td>
                            <td>{{tk.Amount }}</td>
                            <td>{{tk.NewBalance}}</td>
                        </tr>
                     
                      
                        

                        </tbody>


                    </table>
                    
                    <div class="row" style="width: 100%;text-align: center;" *ngIf="lengthdata == 0">
                        <div class="col-md-12"> <span style="text-align: center;font-weight: bold;">  Liste Vide</span></div>
         
                    </div>
                    <div class="row" style="width: 100%;text-align: center;">
                        <div class="col-md-12"> <span style="text-align: center;font-weight: bold;">  Page : {{zindex}}</span></div>
                     </div>
                         
                 <div class="row" style="width: 100%;text-align: center;">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example" style="color: black;">
                            <ul class="pagination" >
                                <li class="page-item">
                                 <button style="background-color: transparent;border: none;">
                                    <a class="page-link" (click)="backTo()" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </button>
                                 
                                </li>
                                <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(1)">1</a></button></li>
                                <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(2)">2</a></button></li>
                                <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(3)">3</a></button></li>
                                <li class="page-item"><button style="background-color: transparent;border: none;"><a class="page-link" (click)="getdTicketsPlayerPage(4)">4</a></button></li>
                                <li class="page-item">
                                    <button style="background-color: transparent;border: none;">
                                        <a class="page-link" (click)="nextTo()" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            </a>
                                    </button>
                                   
                                </li>
                                </ul>
                        </nav>
                    </div>
                </div>
                </div>  
                     
            </div>
           
            <div class="row" *ngIf="!BOL">
                <div  class="col-xl-12 col-lg-12 col-12 col-xs-12 col-sm-12 " >
               
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border   spinner-border-sm mr-8" style="width: 3rem; height: 3rem;color: #00a2ff;" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                </div>
            </div>

            
        </div>
    </div>
</div> 










